

.form {
  margin-top: 1rem;
  padding: 1rem;
  background: white;
  fieldset {
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: 480px) {
    padding: 0;
    padding-bottom: 2rem;
    dd {
      padding-left: 0;
      margin-left: 0;
      input[type="text"],input[type="email"] {
        width: 100%;
      }
    }
  }
}

.form-about__title {
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.form-about__items:not(:last-child) {
  margin-bottom: 1rem;
}

.form-about__items {
  font-weight: 300;
  label {
    display: inline-block;
    min-width: 5rem;
    margin-right: 1rem;
    cursor: pointer;
    @media only screen and (max-width: 480px) {
      margin-bottom: .5rem;
      padding-bottom: .5rem;
      display: block;
      padding-top: .5rem;
    }
  }
  input[type="text"] {
    @include decor-input;
  }
}

.form-about__items--position {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  label {
    padding-left: 2.2rem;
    padding-right: .5rem;
    cursor: pointer;
    @media only screen and (max-width: 480px){
      padding-left:0;
    }
   }
  input {
    margin-right: .5rem;
    cursor: pointer;
  }
}


.more-about__title {
  margin-bottom: 1.5rem;
}

.more-about__items:not(:last-child) {
  margin-bottom: 1rem;
}

.more-about__items {
  font-weight: 300;
  label {
    cursor: pointer;
  }
  input[type="text"] {
    margin-right: .5rem;
    @include decor-input;
    @media only screen and (max-width: 480px){
      margin-bottom:.5rem;
    }
  }
}

.more-about__items--position {
  label {
    margin-right: 2rem;
    cursor: pointer;
  }
  input {
    margin-left: .5rem;
    cursor: pointer;
  }
}

.usual-things {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.usual-things__title {
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.usual-things__items {
  margin-bottom: .5rem;
  margin-left: 0;
  @media only screen and (max-width: 480px){
    input{
      width: 1rem;
    }
  }
}

.often-work__title {
  display: block;
  font-weight: 400;
  margin-bottom: 1rem;
}

.often-work__item {
  cursor: pointer;
}

.often-read {
  margin-top: 2rem;
}

.often-read__title {
  display: block;
  margin-bottom: 1rem;
  font-weight: 400;
}

.often-read__items {
  margin-left: 0;
  margin-bottom: .5rem;
}

.comments {
  margin-top: 2rem;
}

.comment_title {
  display: block;
  font-weight: 400;
  margin-bottom: .5rem;
}

.comments__textarea {
  @include decor-input;
  height: 10rem;
  width: 25rem;
  @media only screen and (max-width: 480px) {
    min-width: 100%;
  }
}

.selection-block__title {
  display: block;
  font-weight: 400;
  margin-bottom: .5rem;
}

.conclusion-form__title {
  @extend .form-about__title;
}

.conclusion-form__items--position {
  label {
    margin-right: 1rem;
    min-width: 3rem;
  }
}

.conclusion-form__items:not(:last-child) {
  margin-bottom: 1.2rem;
}

.conclusion-form__items {
  @extend .form-about__items;
  input[type="email"] {
    @include decor-input;
  }
}

.spamming__title {
  @extend .usual-things__title;
  margin-bottom: .5rem;
  line-height: 1.2rem;
}

.spamming__sub-title {
  display: block;
  font-weight: 300;
}

.spamming__items {
  margin-bottom: .5rem;
  margin-left: 0;
}

.estimate__title {
  @extend .usual-things__title;
  margin-bottom: .5rem;
}

.estimate__items {
  margin-bottom: .5rem;
  margin-left: 0;
}

.form-btn {
@include main-btn;
}